.product__container {
  padding-left: 0;
}

.product__container > li {
  display: flex;
  align-items: center;
  gap: 0 2em;
  background-color: #f5f5f5;
  padding: 1em;
}

.product__price__status,
.product__name__size {
  display: flex;
  align-items: center;
  gap: 1em;
}
